<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/images/josh-logo.png" alt="josh logo" style = "height: 84px; width 150px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class = "btn btn-info">Log Out</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-9" id ="mainArea">
      <div class="row">
        <div class="col">
          <h1>{{companyName}} Info</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div id="charts"></div>
        </div>
        <div class="col">
          <div id="lastRound">
            <h4>Last Round Raised</h4>
            <p>Type: {{lastRoundType}}</p>
            <p>Amount: {{lastRoundAmount}}</p>
          </div>
          <div id="team">
            <h4>Team</h4>
            <div id="people">
              <div id="person1">
                <h6>Josh Joshisson</h6>
                <p>Role: CEO</p>
                <p>Experience: Business, Marketing</p>
              </div>
              <div id="person2">
                <h6>Jeff Jefferson</h6>
                <p>Role: CFO</p>
                <p>Experience: Technical, Financial</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-3 border rounded bg-info" id ="sidebar">
      <h4 class="text-center">Portfolio</h4>
      <ul class="list-group">
        <li class="list-group-item">Apple Inc.</li>
        <li class="list-group-item">Microsoft Inc.</li>
        <li class="list-group-item">Google Inc.</li>
        <li class="list-group-item">Enron Inc.</li>
        <li class="list-group-item">Netflix Inc.</li>
      </ul>
    </div>
  </div>
</div>