<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/images/josh-logo.png" alt="josh logo" style = "height: 84px; width 150px;"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class = "btn btn-info">Log Out</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search content" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-9 p-5 bg-info border rounded" id ="mainArea">
      <div id="innerArea" class="bg-white border rounded p-3">
        <div class="row text-center mb-2">
          <div class="col">
            <h1>{{companyName}}</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="charts" class = "chart mt-3"></div>
          </div>
          <div class="col-md-6">
            <div id="lastRound" class = "m-3">
              <h4>Last Round Raised</h4>
              <p>Type: {{lastRoundType}}</p>
              <p>Amount: {{lastRoundAmount}}</p>
              <button class="btn btn-success" id="addRound">Add round</button>
              <button class="btn btn-warning" id="modifyRound">Modify round</button>
              <button class="btn btn-danger" id="deleteRound">Delete round</button>
            </div>
            <div id="team" class = "m-3">
              <h4>Selected Person</h4>
              <div id="person">
                <h6>Josh Joshisson</h6>
                <p>Role: CEO</p>
                <p>Experience: Business, Marketing</p>
                <button class="btn btn-success" id="addPerson">Add person</button>
                <button class="btn btn-warning" id="modifyPerson">Modify person</button>
                <button class="btn btn-danger" id="deletePerson">Delete person</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <button class ="btn btn-danger">Delete this company</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-3 border rounded bg-info" id ="sidebar">
      <div class="row">
        <div class="col mb-2">
          <h4 class="text-center">Companies</h4>
            <ul class="list-group" id = "companies">
              <button class="list-group-item list-group-item-action">Apple Inc.</button>
              <button class="list-group-item list-group-item-action">Google Inc.</button>
              <button class="list-group-item list-group-item-action">Netflix Inc.</button>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 class="text-center">People</h4>
          <ul class="list-group" id ="people">
            <button class="list-group-item list-group-item-action">Josh Joshisson</button>
            <button class="list-group-item list-group-item-action">Jeff Jefferson</button>
            <button class="list-group-item list-group-item-action">Angelique Angeliquesson</button>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>