<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2>Add Person</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName">
          <label for="role">Role</label>
          <input type="text" class="form-control" id="role">
          <label for="experience">Experience</label>
          <input type="text" class="form-control" id="experience">
          <hr>
          <button class ="btn btn-info" id="submitAddPerson">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>