<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h2>Add Round</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <hr>
      <form>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type">
          <hr>
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount">
          <hr>
          <label for="dateRaised">Date Raised</label>
          <input type="date" class="form-control" id="dateRaised">
          <hr>
          <button class ="btn btn-info" id="submitAddRound">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>